body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('../images/portada.jpg') ;
  background-size: cover;
  background-color: #f4f4f9;
  min-height: 100vh;
  overflow: hidden; 
}

.container {
display: flex;
height: 100vh;
}

.sidebar {
width: 250px;
background-color: #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 8px;
display: flex;
flex-direction: column;
padding: 20px;
}

.sidebar-header {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.logo {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
}

.sidebar-nav {
display: flex;
flex-direction: column;
}

.nav-link {
display: flex;
align-items: center;
padding: 12px;
border-radius: 8px;
color: #555;
text-decoration: none;
margin-bottom: 10px;
transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
background-color: #f0f0f0;
color: #000;
}

.nav-link.active {
background-color: #e0e0e0;
color: #000;
}

.icon-img {
width: 24px;
height: 24px;
margin-right: 12px;
}

.main-content {
flex: 1;
padding: 20px;
overflow-y: auto;
}

.content-container {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: calc(100vh - 40px);
}

.header {
position: absolute;
top: 10%;
text-align: center;
color: white;
z-index: 1;
background-color: rgba(255, 255, 255, 0.5);
padding: 10px 20px;
border-radius: 10px;
}

.main-title {
font-size: 8rem;
font-weight: 700;
font-family: 'Poppins', sans-serif;
text-shadow:
2px 2px 0 red,
-2px -2px 0 red,
-2px 2px 0 red,
2px -2px 0 red;
}

.sub-title {
font-size: 4rem;
font-family: 'Roboto', sans-serif;
text-shadow:
2px 2px 0 green,
-2px -2px 0 green,
-2px 2px 0 green,
2px -2px 0 green;
}

.image-container {
width: 100%;
height: 100%;
}

.main-image {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
z-index: 0;
}


.top-buttons {
display: flex;
justify-content: flex-end;
gap: 10px;
margin-bottom: 20px;
}

.top-button {
padding: 10px 20px;
border: none;
border-radius: 8px;
background-color: #4a90e2;
color: white;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s;
}

.top-button:hover {
background-color: #357abd;
}